@use "styles/globals" as *;
@use "styles/parts/appear" as *;
@use "styles/parts/button" as *;
@use "styles/parts/common" as *;
// @use "parts/image-slide" as *;
@use "styles/parts/mobile-menu" as *;
@use "styles/parts/text-amination" as *;

#container {
  position: relative;
  z-index: 10;
  background: $cWhite;
  transition: transform 0.5s, box-shadow 0.5s;
}

#main-content {
  position: relative;
  z-index: 0;
}

main {
  position: relative;
}

.logo {
  &__title {
    font-size: 24px;
    font-weight: normal;
  }
  
  &__title-m {
    color: $cAlbBlue;
  }
  &__title-p {
    color: $cAlbOrange;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;

  &.triggered {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
  }

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    display: none;

    @include mq(lg) {
      display: block;
    }
  }

  &__ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  &__li {
    margin: 10px;

    @include mq(md) {
      margin-left: 30px;
      margin-right: 0;
    }

    & > a {
      color: $cBlack;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  & .logo {
    justify-content: center;

    @include mq(md) {
      // 2023/10 モバイル時font-size: 35px になるように修正
      // font-size: 35px;
      justify-content: flex-start;
    }
  }
}

.content {
  padding-top: $navHeight;
}

.works {
  @extend .mb-lg;

  &__header {
    & .main-title, .sub-title {
    text-align: center;
    }
  }

  &__inner {
    @extend .content-width;
    @extend .flex;
    position: relative;
    background-color: $cBgGray;
    justify-content: space-between;
    padding: 1em;

    @include mq(md) {
      padding: 1.5em;
    }
    
    @include mq(lg) {
      padding: 2em;
    }
  }

  &__img {
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;

    @include mq(lg) {
      margin-bottom: 10px;
    }
  }

  &__title {
    @extend .mb-sm;
    @extend .font-lr;
    text-align: center;
  }

  &__item {
    position: relative;

    @include mq(md) {
      flex-basis: 48%;
    }

    @include mq(lg) {
      flex-basis: 31%;
      margin-bottom: 1em;
    }

    @include mq(xl) {
      margin-bottom: 2em;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.biography {
  @extend .mb-lg;

  &__header {
    & .main-title, .sub-title {
    text-align: center;
    }
  }

  &__inner {
    @extend .content-width;
    @extend .flex;
    position: relative;
    background-color: $cBgGray;
    justify-content: center;
    align-items: center;
    padding: 15px;

    @include mq(md) {
      align-items: flex-start;
    }
    
    @include mq(lg) {
      padding: 2em 15px;
    }
  }

  &__img {
    @extend .mb-sm;
    height: 200px;
    object-fit: contain;

    @include mq(md) {
      margin-bottom: 0;
      margin-right: 2em;
    }
  }

  &__body {
    @include mq(md) {
      display: flex;
      flex-direction: column;
      flex-basis: 47%;
    }
  }

  &__social {
    margin-top: 1rem;

    & > ul {
      list-style-type: none;
      padding-inline-start: 1em;
    }
  }
}

.history {
  @extend .mb-lg;

  &__header {
    & .main-title, .sub-title {
    text-align: center;
    }
  }

  &__inner {
    @extend .content-width;
    position: relative;
    background-color: $cBgGray;
    padding: 15px;

    @include mq(lg) {
      padding: 2em 15px;
    }
  }

  &__wrapper {
    width: fit-content;
    margin: 0 auto;
  }

  &__item {
    @extend .flex;
    margin-bottom: 0.8em;

    @include mq(md) {
      margin-bottom: 1em;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__date {
      margin-right: 1em;

      @include mq(md) {
        margin-right: 2em;
      }
    }
  }
}

.footer {
  background-color: $cBgGray;
  padding: 20px 0;

  &__inner {
    @extend .content-width;
  }
}

.footer__inner > .logo > .logo__title {
  @extend .font-sm;
}

.img-bg50 {
  position: relative;

  &::before {
    display: block;
    content: "";
    padding-top: 50%;
  }
}

.hover-darken {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: background-color 0.3s ease;
    pointer-events: none;

    // @include animation(
    //   $name: kf-img-show,
    //   $duration: 1.6s,
    //   $timing-function: ease-in-out,
    //   $fill-mode: none
    // );
  }
  &:hover::before {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.img-zoom {
  &:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
}

.bg-img-zoom {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @extend .img-zoom;
}
